# Python Virtual Environment
.venv/
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables & secrets
.env
.env.*

# Heavy neural net / checkpoint files (allow submission model artifacts: joblib, json)
*.ckpt
*.h5
*.bin

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# Operating System files
Thumbs.db
Desktop.ini
.DS_Store
